html, body {
    height: 100%;
    margin: 0;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    border: 1px solid black;
    text-align: center;
}

.cell-green {
    background-color: rgb(120, 145, 83);
}

.cell-pink {
    background-color: rgb(240, 191, 174);
}